<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    username: <input type="text" id="username" /><br />
    id: <input type="text" id="id" />
    <div onclick="axiosFun()">发送axios请求</div>
    <hr />
    <script>
      function axiosFun() {
        let username = document.getElementById("username").value;
        let id = document.getElementById("id").value;
        axios({
          method: "post",
          url: "http://localhost:8080/axios",
          params: {
            username,
            id,
          }, // query参数会显示在url中
        }).then((res) => {
          let { data } = res;
          console.log("返回的结果", data);
        });
      }
    </script>
  </body>
</html>
