<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <h1>你好 beego</h1>
    <!-- 一个输入表单，提交时会发送post请求 -->
    <form action="/postForm" method="post">
      username: <input type="text" name="username" /><br />
      age: <input type="text" name="age" /><br />
      <input type="submit" value="提交" />
    </form>
    <hr />
    <button onclick="send()">发送Post请求</button>

    <script>
      function send() {
        axios({
          url: "http://localhost:8080/test",
          method: "post",
        }).then((res) => {
          let { data } = res;
          console.log("返回的结果", data);
        });
      }
    </script>
  </body>
</html>
