<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>你好 beego</h1>
    <!-- 一个输入表单，提交时会发送post请求 -->
    <form action="/postForm" method="post">
      username: <input type="text" name="username" /><br />
      age: <input type="text" name="age" /><br />
      <input type="submit" value="提交" />
    </form>
    <hr />
  </body>
</html>
